/* Write your CSS here */
.page_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 20px;
}

.items_container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: center;
}
.input_container {
  display: flex;
}
.icon {
  align-self: end;
  width: 20px;
}
